<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <description>HttpConnect Coding Standard</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>

    <arg value="nps"/>

    <file>src</file>
    <file>tests</file>

    <rule ref="_Doctrine" />

    <rule ref="SlevomatCodingStandard">
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHintSpacing.IncorrectWhitespaceBeforeColon"/>
    </rule>
</ruleset>
